{% extends "base.html" %}

{% block content %}
        <style>
                
        </style>
        <h1>Welcome to the APCSA Course Study Guide!</h1>
        <hr>
        <h3>In this course, we will be reviewing about......</h3>
        <center><img src="../static/JAVA.jpg" alt = "java" width = "45%" height = "auto" ></center>
        <h3>We will be reviewing about:</h3>
        <ol>
                <li>Primitive Types</li>
                <li>Using Objects</li>
                <li>Boolean Expressions / If statements</li>
                <li>Iteration</li>
                <li>Writing Classes</li>
                <li>Array</li>
                <li>ArrayList</li>
                <li>2D Array</li>
                <li>Inheritance</li>
                <li>Recursion</li>
        </ol>
{% endblock %}
