<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    </style>   
    </head>
{% extends "base.html" %}

{% block content %}
        <h1>Unit 9: Inheritance </h1>
        <div class = "part1">
            <h3>Inheritance Basics</h3>
            
            <h4>What is inheritance></h4>
            <body>Inheritance allows the program to set up sub classes and inherit the attributes and methods of a parent class. Then you can as more specific functionality specific to the children class. By using inheritance, Java lets you set up a subclass that inherits the attributes and methods of its parent class, and then adds more functionality specific to that child class. We use the keyword <i>extends</i> which locks the parent and children class together</body>
            
            <h4>How do we access the parent class functionality?</h4>
            <body>We can use the keyword <i>super</i> to access constructor behavior from the parent class. This keyword crated a <b>Is-A</b> relationship between the sub-class and super class. The child class also has access to all accessors and mutators from the parent class. A child class will inherit all public methods from its parent class; these methods will also be public in the child class. A child can inherit from only one parent class while a parent class can have multiple children classes.</body>
            
            <h4>Implicit Super</h4>
            <body>An important thing to note about using <i>super</i> is that it must be the first line in any method you use it. With that in mind, here’s another important feature: when dealing with constructors, <i>super</i> is implied whether you actually write it or not.  This only applies to constructors.<br><br>
                It's worth noting that every single constructor in every class calls a constructor from its superclass (either because we told it to or Java inserted a call like the one above). This means of course that the parent constructor that just got called will also call its parent class constructor. This continues up the class hierarchy until the constructor for the object class gets called. Each constructor then executes in turn, starting with object, and working down the chain until the original constructor called is executed.
            </body>
            
            <h4>What is overriding?</h4>
            <body>Overriding: rewrite an method in the child class that has the same name in the parent class but implemented differently</body>
            
            <h4> Can children class methods override the methods in the parent class?</h4>
            <body>Yes. Any method used must be defined by a class or superclass BUT for inheritance we want method that are similar yet behave a little differently. When this occurs, we can re-write a method in the child class that has the same name as the method in the parent class, but is implemented differently for the child. </body>
            
            <h4> What the difference between overriding and overloading?</h4>
            <body>Overloading: both methods with the same name exist in the same class, and <b>Java determines which one to use by its signature, or its parameters</b>. <br><br>
                Overriding: is defined in the parent class but re-defined in the child class that extends the parent. This can mean calling the superclass version of the method and then adding additional code or writing an entirely new version of the method. This enables <b> Java to use the same signature (parameters) for each method, knowing which method to use based on what type of object the method is called upon</b>
            </body>
            
            <h3> “Is-a” and “Has-a” relationships</h3>
            <body>Knowing if classes have a “Is-a” or “Has-a” relationships help user know if a class belongs to another class hierarchy</body>
            
            <h4>What the difference between “Is-a” and “Has-a” relationships?</h4>
            <body>
                 If a class is in “Is-a” relationship with another class, they are probably parent-child class while if a class is in a “Has-a” relationships with another class, they are probably not in the same class hierarchy.<br>
                 A example would be that a ford class <b>is a</b> car class so the ford class is probably an inheritance of the car class while a car class <b>has a </b> wheel class thus the wheel class should not be part of the existing hierarchy
            </body>
            
            <h4>Declaring as a Parent Class</h4>
            <body> A parent can take on the shape of any of its child classes. It is important to take consider what happens when we compile, and what happens when we run. Java determines whether something will compile based on its declared type: so if you declare an object as parent class and try to access a method which is in child class but not parent class, this won't work. However when we run a Java program, the method called is determined by which class was used to instantiate the variable so if the object method exists in the parent class, but is overridden by the child class, then the code  will use the child method  even though shirt is declared as a the parent class.</body>
        
        </div>
{% endblock %}
</html>